@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap');

*{
    user-select: none;
    font-family: 'Turret Road', cursive;
}

* :focus{
    outline: none;
}

:root{
    --base: #1a1b23;
    --mantle: #1c2233;
    --surface0: #363a4f;
    --surface2: #c21d7d;
    --text: #ff006a;
    --mauve: #ff719e;
    --lavender: #b7bdf8;
    --blue: #8aadf4;
}

@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

body{
    background-color: var(--base);
    text-align: center;
}

img{
    width: 10%;
    height: auto;
    margin-top: 10%;
    clip-path: circle(50% at 50% 50%);
}

h1{
    color: var(--text);
}

h2{
    color: var(--surface1)
}

h3{
    color: var(--surface0);
    width: auto;
    height: 50%;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    background: var(--mauve);
    border-radius: 25px;
}

h1, h2{
    margin-bottom: 10px;
    padding: 0;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 4;
}

ul{
    border-radius: 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: auto;
    outline-color: var(--mantle);
    background-color: var(--mantle);
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    line-break: auto;
}

a{
    color: var(--surface2);
    text-decoration: none;
}

a:hover{
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
}

a:focus{
    color: var(--text);
    font-weight: bold;
}

form {
  display: inline-block;
  vertical-align: middle;
}

form > input[type="text"] {
  height: 30px;
  width: 780px;
  font-size: 20px;
  color: var(--surface2);
  background-color: var(--mantle);
  padding-left: 13px;
  margin: 15px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid var(--mantle);
  vertical-align: top;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.time{
    color: #adff2f;
}

::placeholder { 
    color: var(--surface2);
    opacity: 1; 
  }
