
  @import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

*{
    user-select: none;
    font-family: 'Handjet', cursive;
}

* :focus{
    outline: none;
}

:root{
    --base: #1a1b23;
    --mantle: #eae7c9;
    --surface0: #363a4f;
    --surface2: #363a4f;
    --text: #ff719e;
    --mauve: #ff719e;
    --lavender: #b7bdf8;
    --blue: #8aadf4;
}


body{
    background-color: var(--base);
    text-align: center;
}

img{
    width: 15%;
    height: auto;
    margin-top: 10%;
    clip-path: circle(50% at 50% 50%);
}

h1{
    color: var(--text);
}

h2{
    color: var(--surface1)
}

h3{
    color: var(--surface0);
    width: auto;
    height: 50%;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    background: var(--mauve);
    border-radius: 2px;
}

h1, h2{
    margin-bottom: 10px;
    padding: 0;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 4;
}

ul{
    border-radius: 2px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: auto;
    outline-color: var(--mantle);
    background-color: var(--mantle);
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    line-break: auto;
}

a{
    color: var(--surface2);
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: var(--text);
    cursor: pointer;
}

a:focus{
    color: var(--text);
    font-weight: bold;
}

